.title {
  margin: 1.5rem 0;
}

.list {
  list-style: none;
}

.error {
  border: 1px solid;
  margin: 10px auto;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  max-width: 460px;
  color: #d8000c;
  background-color: #ffbaba;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.no-order {
  min-height: 30rem;
  text-align: center;
  padding-top: 8rem;
}

.no-order a {
  font-size: 1rem;
  color: #19753f;
}

.notify {
  font-weight: normal;
  font-size: 2rem;
}
