.item h3 {
  margin-top: 0.5rem;
}

.pending {
  color: #f5b041;
}

.approved {
  color: #27ae60;
}

.canceled {
  color: #e74c3c;
}

.item li {
  margin-left: 2rem;
}

.dish li {
  margin-left: 3rem;
}

.info {
  color: red;
}

.button {
  margin: 1rem 0 0 2rem;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  color: #fff;
  border: none;
  border-radius: 0.25em;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.4);
}

.primary {
  line-height: 40px;
  transition: ease-in-out 0.2s;
  padding: 0 16px;
}

.primary:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
    inset 0 0 0 99999px rgba(0, 0, 0, 0.2);
}

.delete {
  background: #df3a27;
}
.delete:before {
  content: '\f1f8';
}

.delete:before {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 1rem;
  padding-right: 12px;
  background: none;
  color: #fff;
}
