.dishes {
  padding: 2rem 9%;
  animation: Dishes-appear 1s ease-out forwards;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  gap: 0.75rem;
}

.search-toggle-label {
  position: relative;
  left: 1rem;
  top: 2.4rem;
  font-size: 1.5rem;
  z-index: 10;
  cursor: pointer;
}

.search {
  position: relative;
  left: -0.7rem;
  top: 2.2rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  width: 0px;
  height: 2.5rem;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.836);
  color: #000;
  transform: translateX(-1rem);
  transition-property: opacity, width, transform;
  transition-duration: 0.1s, 0.1s, 0.2s;
  transition-timing-function: ease-out, ease-out, ease-out;
}

.search.active {
  width: 15rem;
  padding-left: 2.3rem;
  opacity: 1;
  transform: translateX(0);
  outline: none;
}

.heading {
  text-align: center;
  color: var(--black);
  font-size: 1.5rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.DishesLoading {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2rem;
}

.DishesError {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 2rem;
}

@keyframes Dishes-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
