.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #192a56;
  border: 1px solid #192a56;
  color: white;
  padding: 0.25rem 2.5rem;
  border-radius: 20px;
  font-weight: normal;
}

.form button:hover,
.form button:active {
  background-color: #27ae60;
  border-color: #27ae60;
}

.form button:disabled {
  background-color: #eee;
  border-color: #eee;
  color: #ccc;
  cursor: auto;
}
