.footer {
  padding: 0.4rem 9%;
  background: #fff;
  margin-top: 5rem;
}

.box-container {
  display: flex;
  justify-content: space-around;
  text-transform: capitalize;
}

.footer .box-container .box h3 {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: #192a56;
}

.footer .box-container .box a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1rem;
  color: #666;
}

.footer .box-container .box a:hover {
  color: #27ae60;
  text-decoration: underline;
}

.footer .box-container .box p {
  display: block;
  padding: 0.5rem 0;
  font-size: 1rem;
}

.box:last-child a {
  text-decoration: none;
}

.footer .credit {
  text-transform: capitalize;
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  color: #192a56;
  padding: 0.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.footer .credit a {
  text-decoration: none;
  color: #27ae60;
}
