.cart {
  margin-right: 1rem;
}

a.cart {
  text-decoration: none;
  color: #192a56;
  background: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 2rem;
  border-radius: 50%;
}

.button {
  font: inherit;
  border: none;
  background-color: #8a2b06;
  color: white;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: disabled;
}

.icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  cursor: pointer;
  color: #192a56;
  transition: transform 0.25s linear;
}

.button:hover .icon {
  transform: rotate(360deg);
  color: #27ae60;
}

.badge {
  position: relative;
  background-color: #b94517;
  padding: 0.25rem 0.5rem;
  border-radius: 100px;
  /* margin-left: 1rem; */
  font-weight: bold;
  font-size: small;
  right: 1.2rem;
  bottom: 0.7rem;
}

.button:hover .badge,
.button:active .badge {
  background-color: #666;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 500px) {
  .button {
    padding: 0.5rem 1rem;
    margin-left: 1rem;
  }
  .cart {
    display: none;
  }
}
